<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageCaption}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list class="login">
		<ion-item>
			<ion-label>+86</ion-label>
			<ion-input type="text" placeholder="手机号" [(ngModel)]="mobile" (input)="validate()"></ion-input>
			<button ion-button item-end (click)="getSMSCode()" class="counter" [disabled]="smsBtnDisabled || smsCountingDown">{{caption}}</button>
		</ion-item>
		<ion-item>
			<ion-input type="number" placeholder="短信验证码" [(ngModel)]="smsCode" (input)="validate()"></ion-input>
		</ion-item>
	</ion-list>

	<ion-grid>
		<ion-row>
			<ion-col col-1></ion-col>
			<ion-col col-10>
				<button ion-button block (click)="confirmLogin()" [disabled]="confirmDisabled">确认</button>
			</ion-col>
			<ion-col col-1></ion-col>
		</ion-row>
		<!--<ion-row id="agreement" *ngIf="isNewUser">-->
			<ion-row id="agreement" *ngIf="isCustomer">
			<ion-col col-3 id="checkbox_col">
				<div align="right" id="checkbox">
					<ion-checkbox [(ngModel)]="chkAgreement" (ionChange)="validate()"></ion-checkbox>
				</div>
			</ion-col>
			<ion-col col-9>
					<p>我已认真阅读理解并同意<a href="#" (click)="toAgreement()">注册协议</a></p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<style>
	* {
		font-size: 1.3rem;
	}

	ion-content {
		background-color: #efefef;
		margin: 0;
	}

	.login {
		margin-top: 1rem;
		background-color: white;
		margin-bottom: 0;
	}

	.counter {
		font-size: 1.1rem;
		width: 6.9rem;
		height: 2.5rem;
	}

	#agreement {
		/*margin-top: 20em;*/
		margin-top: 80%;
	}

	#checkbox {
		margin-top: 1.1em;
		margin-right: 0;
	}

	#checkbox_col {
		padding-right: 0;
	}
</style>
