<ion-header>
	<ion-navbar no-border-top color="primary">
		<ion-grid>

			<ion-row>
				<ion-col col-1>
					<div align="right">
						<ion-icon name="pin" color="light"></ion-icon>
					</div>
				</ion-col>
				<ion-col col-2>
					<div align="center">
						Loc
					</div>
				</ion-col>
				<ion-col col-7>

						<ion-searchbar (click)="toSearchPage()" placeholder="搜索..."></ion-searchbar>

				</ion-col>
				<ion-col col-2 class="distributor">
						<ion-row style="align-items: center">
							<ion-col col-12 style="align-self: flex-end;">
								<div align="center">
									<ion-icon name="contacts" color="light" (click)="goMulti()"></ion-icon>
								</div>
							</ion-col>
				<!--		</ion-row>
						<ion-row>-->
							<ion-col style="align-self: flex-start;"><div style="font-size: 0.8rem; color: white;" align="center" (click)="goMulti()">经销商</div></ion-col>
						</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid [style.height]="gridHeight">
		<ion-row>
			<ion-col class="menu" col-3>
				<ion-scroll scrollY="true" [style.height]="scrollHeight">
					<ion-list>
						<ion-item *ngFor="let category of productCategories; let i = index; " (click)="itemSelected(i, category.id)" [style.background-color]="i==clickedItemIndex ? 'white' : '#efefef'" [style.border-left]="i==clickedItemIndex ? '2px solid #00ff00' : 'none'">
							  {{ category.name }}
						</ion-item>
					</ion-list>
				</ion-scroll>
			</ion-col>

			<ion-col col-9>
				<div  *ngIf="allProductsSelected" class="sort">
					<ion-list>
					<ion-item-sliding>
						<ion-item>
							<div align="right"><ion-icon name="rewind" color="secondary" style="vertical-align: bottom;"></ion-icon><span style="color: white;">s</span>排序</div>
						</ion-item>
						<ion-item-options side="right">
							<button ion-button small (click)="priceSortUp()">
								<ion-icon name="logo-yen"></ion-icon>价格升序
							</button>
							<button ion-button color="secondary" small (click)="priceSortDown()">
								<ion-icon name="logo-yen"></ion-icon>价格降序
							</button>
							<button ion-button small (click)="soldAmountSortUp()">
								<ion-icon name="podium"></ion-icon>销量升序
							</button>
							<button ion-button color="secondary"small (click)="soldAmountSortDown()">
								<ion-icon name="podium"></ion-icon>销量降序
							</button>
						</ion-item-options>

					</ion-item-sliding>
				</ion-list>
				</div>

				<ion-scroll scrollY="true" [style.height]="scrollHeight">

					<div  class="content" *ngIf="clickedItemIndex === 0" >
						<div *ngFor="let product_1 of products_1; let i = index">
						<ion-row class="images">
							<ion-col>
								<div align="center" (click)="toProductDetail(product_1.id)">
									<img src="{{ baseUrl }}{{ product_1.thumbnail_url }}">
								</div>
							</ion-col>
							<ion-col>
								<div *ngIf="i < products_2.length" align="center"  (click)="toProductDetail(products_2[i].id)" >
									<img src="{{ baseUrl }}{{ products_2[i].thumbnail_url }}">
								</div>
							</ion-col>
							<ion-col>
								<div *ngIf="i < products_3.length" align="center"  (click)="toProductDetail(products_3[i].id)">
									<img src="{{ baseUrl }}{{ products_3[i].thumbnail_url }}">
								</div>
							</ion-col>
						</ion-row>

						<ion-row class="text">
							<ion-col >
								<div align="center" (click)="toProductDetail(product_1.id)">
									{{ product_1.model }}
								</div>
							</ion-col>
							<ion-col>
								<div *ngIf="i < products_2.length" align="center" (click)="toProductDetail(products_2[i].id)">
									{{ products_2[i].model }}
								</div>
							</ion-col>
							<ion-col>
								<div *ngIf="i < products_3.length" align="center" (click)="toProductDetail(products_3[i].id)">
									{{ products_3[i].model }}
								</div>
							</ion-col>
						</ion-row>
						</div>
					</div>

					<div class="content-category" *ngIf="clickedItemIndex != 0">
						<div *ngFor="let category of productBySubCategories; let i = index;">
							<ion-row class="category" style="flex-wrap: nowrap">
								<ion-col></ion-col>
								<ion-col col-1><ion-row class="seperator"></ion-row></ion-col>
								<ion-col>									
									{{ category.subCategory.name}}
									
								</ion-col>
								<ion-col col-1><ion-row class="seperator"></ion-row></ion-col>
								<ion-col></ion-col>
							</ion-row>
							<div *ngFor="let product of category.products; let j = index;">
							
								<ion-row class="images">
									<ion-col>
										<div *ngIf="j < category.products.length && j % 3 == 0" align="center" (click)="toProductDetail(category.products[j].id)">
											<img src="{{ baseUrl }}{{ category.products[j].thumbnail_url}}">
										</div>
									</ion-col>
									<ion-col>
										<div *ngIf="j+1 < category.products.length && (j+1) % 3 == 1" align="center" (click)="toProductDetail(category.products[j+1].id)">
											<img src="{{ baseUrl }}{{ category.products[j+1].thumbnail_url}}">
										</div>
									</ion-col>
									<ion-col>
										<div *ngIf="j+2 < category.products.length && (j+2) % 3 == 2" align="center" (click)="toProductDetail(category.products[j+2].id)">
											<img src="{{ baseUrl }}{{ category.products[j+2].thumbnail_url}}">
										</div>
									</ion-col>
								</ion-row>

								<ion-row class="text">
									<ion-col>
										<div *ngIf="j < category.products.length && j % 3 == 0" align="center" (click)="toProductDetail(category.products[j].id)">
											{{category.products[j].model}}
										</div>
									</ion-col>
									<ion-col>
										<div *ngIf="j+1 < category.products.length && (j+1) % 3 == 1" align="center" (click)="toProductDetail(category.products[j+1].id)">
											{{category.products[j+1].model}}
										</div>
									</ion-col>
									<ion-col>
										<div *ngIf="j+2 < category.products.length && (j+2) % 3 == 2" align="center" (click)="toProductDetail(category.products[j+2].id)">
											{{category.products[j+2].model}}
										</div>
									</ion-col>
								</ion-row>
							</div>
						</div>
					</div>

				</ion-scroll>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>



<style>
	* {
		margin: 0;
		padding: 0;
		border: none;
	}

	.menu ion-item {
		font-size: 1.3rem;
		text-align: center;

	}

	.menu {
		background-color: #efefef;
	}

	.content img {
		height: 3rem;
	}

	.content ion-col {
		justify-content: center;

	}

	.content .images {
		padding-top: 2.5rem;
	}

	.content .text {
		font-size: 1rem;
	}

	.content-category .category {
		font-size: 1.2rem;
		text-align: center;
		font-weight: bold;
		align-self: center;
		margin-top: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		flex-wrap: nowrap;
		align-items: center;
	}


	.content-category .images {
		margin-top: 1rem;
		padding: 0;
	}

	.content-category .text {
		height: 0;
	}

	.seperator {
		padding: 0;
		background-color: #efefef;
		color: #efefef;
		font-size: 1px;
		height: 1px;
		align-self: flex-end;
	}

	.sort ion-list {
		font-size: 1rem;
	}

	.sort button {
		height: 1rem;
	}


</style>