
<ion-content>
	<ion-fab top left>
		<button ion-fab (click)="goBack()" mini><ion-icon name="custom-goback" color="primary"></ion-icon></button>
	</ion-fab>

	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<ion-slides pager>
					<ion-slide *ngFor="let image of images_1">
						<img src="{{ apiUrl }}{{ image.image_url }}">
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		<div  *ngFor="let info of products" class="info">
			<ion-row>
				<ion-col col-12>
					<div class="title"> {{ info.name }} </div>				
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="introduction"> {{ info.description }} </div>				
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<div>销售量：{{ info.sold_amount }} </div>				
				</ion-col>
				<ion-col col-6 class="price">
					<div align="right">{{info.price| currency:'CNY':'symbol-narrow'}}</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4>
					<div>库存量：{{ inventory }} </div>				
				</ion-col>
				<ion-col col-8>
					<div align="right">重量：{{info?.weight}}{{info?.weight_unit}}</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<div>备&nbsp;&nbsp;&nbsp;&nbsp;注：该产品价格不包含物流配送费用</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<div>经销商：{{distributor?.name}}</div>				
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-1>
				</ion-col>
				<ion-col col-11>
					<div align="left" style="padding-left: 2rem;">{{distributorAddress?.city}}{{distributorAddress?.street}}</div>				
				</ion-col>
			</ion-row>
		</div>
	<!--	<div style="margin-top: 1.2rem">-->
	
		<seperator height="1.2rem"></seperator>
			<ion-row class="delivery">
				<ion-col col-3>
					<div>配送地址：</div>
				</ion-col>
				<ion-col col-6>
					<div align="left" style="padding-left: 0;">{{shippingAddress?.city}}{{shippingAddress?.street}}</div>
				</ion-col>
				<ion-col col-3 >
					<div align="right">
					<button ion-button outline color="blue" small style="font-size: 1.2rem;margin: 0;" (click)="manageAddress()">{{addressBtnCaption}}</button>
					</div>
				</ion-col>
			</ion-row>
		<seperator height="1.2rem"></seperator>
	<!--	</div>-->

		<ion-row *ngFor="let image of images_2">
			<ion-col col-12>
				<img src="{{ apiUrl }}{{ image.image_url }}">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
<!--	<ion-toolbar>-->
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<div align="center" [@cart]="cartState">
				<!--	<button ion-button icon-only outline style="font-size: 1.3rem;border: none;position: relative;">-->
						<ion-icon name="cart" id="cart" (click)="toShoppingCartPage()"></ion-icon>
						<ion-badge color="danger" (click)="toShoppingCartPage()" *ngIf="numberOfProducts === 0">0</ion-badge>
						<ion-badge color="danger" (click)="toShoppingCartPage()" *ngIf="numberOfProducts > 0">{{ shoppedItems }}</ion-badge>
					</div>
				<!--	</button>-->
				</ion-col>
				<ion-col col-2>
					<div align="right">
					<button ion-button icon-only outline [disabled]="!(numberOfProducts-1)" (click)="removeItem()" showWhen="android" class="android_btn">
						<ion-icon name="remove"></ion-icon>
					</button>
					<button ion-button icon-only outline [disabled]="!(numberOfProducts-1)" (click)="removeItem()" showWhen="ios" class="ios_btn">
						<ion-icon name="remove"></ion-icon>
					</button>
					</div>
				</ion-col>
				<ion-col col-1>
					<div align="center"> {{ numberOfProducts }} </div>
				</ion-col>
				<ion-col col-1>
					<button ion-button icon-only outline (click)="addItem()" showWhen="android" class="android_btn">
						<ion-icon name="add"></ion-icon>
					</button>
					<button ion-button icon-only outline (click)="addItem()" showWhen="ios">
						<ion-icon name="add"></ion-icon>
					</button>
					<!--
					<div align="center"><ion-icon name="add" style="border: 1px solid blue; padding-left: 0.5rem; padding-right: 0.5rem;"></ion-icon></div>-->
				</ion-col>
				<ion-col col-2>
				</ion-col>
				<ion-col col-4>
					<div align="right">
					<button ion-button full style="font-size: 1.4rem;" color="shoppingbtn" (click)="addToShoppingCart()">加入购物车</button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
<!--	</ion-toolbar>-->
</ion-footer>


<style>
	ion-content, ion-grid, ion-row, ion-col, ion-slides, img , ion-toolbar {
		margin: 0;
		padding: 0;
		border: none;

	}

	ion-fab button {
		background-color: rgba(230,230,230,0.4);
	}

	.info {
		font-size: 1.2rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;

	}

	.info ion-row {
		margin-top: 1.2rem;

	}

	.info ion-col {
		align-self: flex-end;
	}


	.info .title {
		font-size: 1.6rem;
		font-weight: bolder;
	}

	.info .introducton {
		text-indent: 2rem;
		padding: 1.5rem;
	}

	.price {
		font-size: 1.6rem;
		color: #0437f1;
		font-weight: bold
	}

	ion-grid .info {
		margin-bottom: 1.2rem;
	}

	ion-grid .delivery {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		font-size: 1.2rem;
		align-items: center;
	}

	ion-footer {
		margin: 0;
		padding: 0;

	}

	ion-footer ion-col {
		align-self: center;
		margin: 0;
		padding: 0;
	}

	ion-footer ion-row {
		border-top: 1px solid #efefef;
	}
	ion-footer button {
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
	}

	ion-footer ion-badge {
		position: absolute;
		top: -4px;
		right: 11px;
		font-size: 0.8rem;
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}

	ion-footer #cart {
		position: relative;
		font-size: 2.5rem;
	}

	ion-footer .android_btn {
		font-size: 0.7rem;
		height: 2.1rem;
	}
</style>

