<ion-header>
  <ion-navbar>
    <ion-title>
    	<ion-grid>
    		<ion-row>
    			<ion-col col-12>
      				<div align="center" style="font-size: 1.8rem;">购物车</div>
      			</ion-col>
      		</ion-row>
      	</ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-grid *ngIf="shoppingCartEmpty">
		<ion-row class="empty">
			<ion-col col-12>
				<button ion-button full>您还没有选购任何产品，请去分类中购买。 </button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid *ngIf="!shoppingCartEmpty">
		<ion-row *ngIf="!loggedIn" class="login-remind">
			<ion-col col-10>
				<ion-label>您还未登录，请先登录进行下单购买</ion-label>
			</ion-col>
			<ion-col col-2>
				<button ion-button small (click)="toLoginPage()">登录</button>
			</ion-col>
		</ion-row>

		<!--------------Seperator---------------------->
		<seperator height="1.2rem"  *ngIf="shoppingCartEmpty"></seperator>

		<ion-row class="address">
			<ion-col col-1>
				<div align="center">
					<ion-icon name="paper-plane"></ion-icon>
				</div>
			</ion-col>

			<ion-col col-10>
				<ion-row>
					<ion-col col-8>
						<div>收货人: {{address?.username}}</div>
					</ion-col>
					<ion-col col-4>
						<div align="right">{{mobile}}</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<div style="padding-top: 0.5rem;">收货地址： {{address?.city}}{{address?.street}}</div>
					</ion-col>				
				</ion-row>
			</ion-col>

			<ion-col col-1>
				<button ion-button icon-only full outline (click)="toManageAddressPage()">
					<ion-icon name="arrow-forward"></ion-icon>
				</button>
			</ion-col>
		</ion-row>

		<!--------------Seperator---------------------->
		<seperator height="0.8rem"></seperator>

		<ion-row *ngFor="let product of products; let i = index;" class="item-list">
			<ion-col col-12>

				<ion-row>

					<ion-col col-2>
						<div align="center">
							<ion-checkbox color="primary" checked="true" [(ngModel)]="shoppingCart[i].selected" (ionChange)="selectionChange(i)"></ion-checkbox>
						</div>
					</ion-col>

					<ion-col col-2 class="item">
						<div align="left">
							<img src="{{baseUrl}}{{product[0]?.thumbnail_url}}" (click)="toProductDetailPage(product[0]?.id)">
						</div>
					</ion-col>

					
					<ion-col col-8 class="item">
						<ion-row class="item-intro">
							<ion-col col-10>
								{{product[0]?.model}}{{product[0]?.product_sub_category_name}}
							</ion-col>
					<!--		<ion-col col-5>
								
							</ion-col>-->
							<ion-col col-2>
								<button ion-button outline icon-only (click)="deleteItem(i)">
									<ion-icon name="trash" color="alert" style="padding-left: 2rem;"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
						<ion-row class="item-price" style="flex-wrap: nowrap;">
							<ion-col class="price" col-3>
								{{shoppingCart[i].price | currency:'CNY':'symbol-narrow'}}
							</ion-col>

							<ion-col col-5>
								<div align="center">小计：<span class="price">{{shoppingCart[i]?.price * shoppingCart[i]?.quantity | currency:'CNY':'symbol-narrow'}}</span></div>
							</ion-col>
							<ion-col col-4>
								<div align="right">
								<counter count="{{shoppingCart[i].quantity}}" size="1.2rem" (change)="quantityChange($event, i)"></counter>
								</div>
							</ion-col>							
						</ion-row>
					</ion-col>


				</ion-row>



			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<div align="center">
						<ion-checkbox color="primary" [(ngModel)]="checkedAll" (ionChange)="checkAll($event)"></ion-checkbox>
					</div>
				</ion-col>
				<ion-col col-4>
					<div align="left">
						合计：<span style="color: #0463b8;">{{totalPrice | currency:'CNY':'symbol-narrow'}}</span>
					</div>
				</ion-col>
				<ion-col col-3>
					<div align="left">
						总重：{{totalWeight}}{{weightUnit}}
					</div>
				</ion-col>
				<ion-col col-3>
					<button ion-button full block color="secondary" style="font-size: 1.4rem;"  [disabled]="!loggedIn || noAddress" icon-start (click)="toPaymentPage()">
						去结算 
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>

<style>
	* {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 1.3rem;
	}

	ion-title {
		font-size: 10rem;
	}

	.empty {
		justify-content: center;
	}


	.login-remind:not(button) {
		background-color: #fff372;
		align-items: center;
		height: 3rem;
	}

	.login-remind ion-label {
		font-size: 1.1rem;
		text-indent: 1.2rem;
		color: #ff871f;
	}

	.login-remind button {
		font-size: 1.2rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		background-color: #ff871f;

	}

	.address  {
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.address ion-icon {
		font-size: 1.5rem;
	}

	
	.item-list ion-row {
		align-items: center;
	}

	.item-list img {
		width: 4.7rem;

	}

	.item {
		border-bottom: 1px solid #efefef;
		height: 8rem;
		padding-right: 1rem;


	}

	.item img {
		margin-top: 3rem;
	}
	
	.item .item-intro {
		padding-top: 1rem;

	}

	.item .price {
		color:  #0463b8;;
	}

  ion-footer * {
    margin: 0;
    padding: 0;
    border: none;
  }

  ion-footer {
    margin: 0;
    padding: 0;
    border: none;
  }

  ion-footer ion-row {
  	align-items: center;
  }

  ion-toolbar {
  	min-height: 3.6rem;
  }

  ion-footer button {
  	margin: 0;
  	padding: 0;
  }

</style>
