<ion-header>
  <ion-navbar>
    <ion-title>
      购物车
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-grid *ngIf="shoppingCartEmpty">
		<ion-col col 12>
			<p>您还没有选购任何产品!</p>
		</ion-col>
	</ion-grid>
	<ion-grid *ngIf="!shoppingCartEmpty">
		<ion-row *ngIf="!loggedIn" class="login-remind">
			<ion-col col-10>
				<ion-label>您还未登录，请先登录进行下单购买</ion-label>
			</ion-col>
			<ion-col col-2>
				<button ion-button small (click)="toLoginPage()">登录</button>
			</ion-col>
		</ion-row>

		<!--------------Seperator---------------------->
		<ion-row class="seperator">
			<ion-col col-12>s</ion-col>
		</ion-row>

		<ion-row class="address">
			<ion-col col-1>
				<div align="center">
					<ion-icon name="paper-plane"></ion-icon>
				</div>
			</ion-col>
			<ion-col col-10>
				<ion-row>
					<ion-col col-8>
						<div>收货人: {{address.username}}</div>
					</ion-col>
					<ion-col col-4>
						<div>{{mobile}}</div>
					</ion-col>
				</ion-row>
					<ion-col col-12>
						<div style="padding-top: 0.5rem;">收货地址： {{address.city}}{{address.street}}</div>
					</ion-col>
				<ion-row>
				</ion-row>
			</ion-col>
			<ion-col col-1>
				<button ion-button icon-only full outline>
					<ion-icon name="arrow-forward" (click)="goManageAddressPage()"></ion-icon>
				</button>
			</ion-col>
		</ion-row>

		<!--------------Seperator---------------------->
		<ion-row class="seperator">
			<ion-col col-12>d</ion-col>
		</ion-row>

		<ion-row *ngFor="let product of products; let i = index;" class="item-list">
			<ion-col col-12>

				<ion-row>

					<ion-col col-2>
						<div align="center">
							<ion-checkbox color="primary" checked="true" [(ngModel)]="shoppingCart[i].selected" (ionChange)="selectionChange(i)"></ion-checkbox>
						</div>
					</ion-col>

					<ion-col col-2 class="item">
						<div align="left">
							<img src="{{baseUrl}}{{product[0].thumbnail_url}}" (click)="toProductDetailPage(product[0].id)">
						</div>
					</ion-col>

					
					<ion-col col-8 class="item">
						<ion-row>
							<ion-col col-6>
								{{product[0].product_sub_category_name}}
							</ion-col>
							<ion-col col-6>
								{{product[0].model}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="price">
								&yen;{{shoppingCart[i].price}}
							</ion-col>
							<ion-col>
								{{shoppingCart[i].quantity}}
							</ion-col>
							<ion-col>
								小计：<span class="price">&yen;{{shoppingCart[i].price * shoppingCart[i].quantity}}.00</span>
							</ion-col>
						</ion-row>
					</ion-col>


				</ion-row>



			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col col-2>
					<div align="center">
						<ion-checkbox color="primary" checked="true"></ion-checkbox>
					</div>
				</ion-col>
				<ion-col col-7>
					<div align="right">
						合计：
					</div>
				</ion-col>
				<ion-col col-3>
					<button ion-button full color="secondary" style="font-size: 1.6rem;" [disabled]="!loggedIn" icon-start>
						去结算
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>

<style>
	* {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 1.1rem;
	}

	.seperator {
		margin: 1.5rem, 0,0,0;
		padding: 0;
		background-color: #efefef;
		color: #efefef;
		font-size: 1px;
	}

	.login-remind:not(button) {
		background-color: #fff372;
		align-items: center;
		height: 3rem;
	}

	.login-remind ion-label {
		font-size: 1.1rem;
		text-indent: 1.2rem;
		color: #ff871f;
	}

	.login-remind button {
		font-size: 1.2rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		background-color: #ff871f;

	}

	.address  {
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.address ion-icon {
		font-size: 1.5rem;
	}

	.item-list ion-row {
		align-items: center;
	}

	.item-list img {
		width: 4.5rem;
	}

	.item {
		border-bottom: 1px solid #efefef;
		height: 6.5rem;

	}

	.item img, .item ion-row {
		padding-top: 1.2rem;
	}

	.item .price {
		color:  #0437f1;
	}

  ion-footer * {
    margin: 0;
    padding: 0;
    border: none;
  }

  ion-footer {
    margin: 0;
    padding: 0;
    border: none;
  }

  ion-footer ion-row {
  	align-items: center;
  }


</style>
