<ion-header>
	<ion-navbar no-border-top color="primary">
		<ion-grid>

			<ion-row>
				<ion-col col-1>
					<div align="right">
						<ion-icon name="send" color="light"></ion-icon>
					</div>
				</ion-col>
				<ion-col col-2>
					<div align="center">
						Loc
					</div>
				</ion-col>
				<ion-col col-7>

						<ion-searchbar [(ngModel)]="myInput"></ion-searchbar>

				</ion-col>
				<ion-col col-2 class="distributor">
						<ion-row>
							<ion-col col-12 style="align-self: flex-end;">
								<div align="center">
									<ion-icon name="contacts" color="light"></ion-icon>
								</div>
							</ion-col>
							<ion-col style="align-self: flex-start;"><div style="font-size: 0.8rem; color: white;" align="center">经销商</div></ion-col>
						</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<ion-slides autoplay="2000" pager>
					<ion-slide *ngFor="let imageUrl of imageUrls_1">
						<img src="{{imageUrl}}">
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		
		<ion-row align-items-center>
			<ion-col col-6>
				<img src="{{imageUrls_2[0]}}" class="coupon">
			</ion-col>
			<ion-col col-6>
				<img src="{{imageUrls_3[0]}}" class="coupon">
			</ion-col>
		</ion-row>

		<ion-row *ngFor="let image of imageUrls_4">
			<ion-col col-12>
				<img src="{{image}}" >
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<style>
	ion-content, ion-grid, ion-row, ion-col, img {
			margin: 0;
			padding: 9;
			border: none;
	}

	.coupon {
		padding: 5px;
		background-color: white;
	}

	ion-header * {
		margin: 0;
		padding: 0;
	}

	ion-header ion-row {
		align-items: center;
		height: 4.6rem;
	}

	ion-header ion-icon {
		font-size: 2rem;
	}

</style>