<ion-header>
	<ion-navbar no-border-top color="primary">		
		<ion-grid>

			<ion-row style="align-items: center">
				<ion-col col-1>
					<div align="right">
						<ion-icon name="custom-position" color="light" (click)="getLocation()"></ion-icon>
					</div>
				</ion-col>
				<ion-col col-2>
					<div align="center">
						{{city}}
					</div>
				</ion-col>
				<ion-col col-7>

						<ion-searchbar (click)="toSearchPage()" placeholder="搜索..."></ion-searchbar>

				</ion-col>
				<ion-col col-2 class="distributor">
						<ion-row style="align-items: center">
							<ion-col col-12 style="align-self: flex-end;">
								<div align="center">
									<ion-icon name="custom-distributor" color="light" (click)="goMulti()"></ion-icon>
								</div>
							</ion-col>
				<!--		</ion-row>
						<ion-row>-->
							<ion-col style="align-self: flex-start;"><div style="font-size: 0.8rem; color: white;" align="center" (click)="goMulti()">经销商</div></ion-col>
						</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row class="slides">
			<ion-col col-12>
				<ion-slides autoplay="2000" pager>
					<ion-slide *ngFor="let imageUrl of imageUrls_1">
						<img src="{{imageUrl}}">
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		
		<ion-row align-items-center>
			<ion-col col-6>
				<img src="{{imageUrls_2[0]}}" class="coupon1" (click)="toCouponForNewComerPage()">
			</ion-col>
			<ion-col col-6>
				<img src="{{imageUrls_3[0]}}" class="coupon2" (click)="toCouponCenterPage()">
			</ion-col>
		</ion-row>

		<div  class="bottomImages">
		<ion-row *ngFor="let image of imageUrls_4">
			<ion-col col-12  width="100%">
				<img src="{{image}}">
			</ion-col>
		</ion-row>
	</div>
	</ion-grid>
</ion-content>

<style>
	 * {
			margin: 0;
			padding: 0;
			border: none;

	}

	ion-content {
		background-color: #efefef;
	}

	ion-header * {
		margin: 0;
		padding: 0;
		margin: 0;
	}

	ion-header ion-row {
		align-items: center;
		height: 4.6rem;
	}

	ion-header ion-icon {
		font-size: 2rem;
	}

	ion-header ion-searchbar {
		font-size: 1.3rem;
	}


	.coupon1 {
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0.4rem;
		padding-left: 0.8rem;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;

	}

	.coupon2 {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0.4rem;
		padding-right: 0.8rem;
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;

	}

	.bottomImages {
		margin-left: 0.8rem;
		margin-right: 0.8rem;
		padding: 0;
	}


</style>