
<ion-header>

  <ion-navbar>
    <ion-title>订单确认</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	<ion-grid>
		<ion-row class="address">
			<ion-col col-1>
				<div align="center">
					<ion-icon name="pin"></ion-icon>
				</div>
			</ion-col>
			<ion-col col-11>
				<ion-row style="flex-wrap: nowrap;">
					<ion-col col-8 class="shopper">
						<div align="left">收货人：{{shippingAddress?.username}}</div>
					</ion-col>
					<ion-col col-4 style="padding-right: 1rem;">
						<div align="right">{{mobile}}</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						收货地址： {{shippingAddress?.city}}{{shippingAddress?.street}}
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>


		<seperator height="0.8rem"></seperator>

		
		<ion-row class="list">

			<ion-col col-9>	
				<ion-row>
					<ion-col col-3 *ngFor="let product of products; let i = index">	
						<img src="{{apiUrl}}{{product[0]?.thumbnail_url}}" *ngIf="i < 3" (click)="toProductList()">
					</ion-col>
				</ion-row>
			</ion-col>

			<ion-col col-2>
				<ion-row>
					<ion-col>
						<div align="right" style="color: #747474" (click)="toProductList()">
							共{{numberOfItems}}件
						</div>
					</ion-col>
				</ion-row>

				<ion-row>
					<seperator color="white" height="3rem"></seperator>
				</ion-row>

			</ion-col>
			<ion-col col-1>
				<div align="center">
					<button ion-button icon-only block outline (click)="toProductList()">
						<ion-icon name="custom-goforward"></ion-icon>
					</button>
				</div>
			</ion-col>
		</ion-row>


		<seperator height="0.8rem"></seperator>

		<ion-row class="shipping-fee">
			<ion-col col-3>
				<div align="center">产品总价：</div>
			</ion-col>
			<ion-col col-9>
				<div>{{subTotalPrice | currency:'CNY':'symbol-narrow'}}</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-3>
				<div align="center">配送费用：</div>
			</ion-col>
			<ion-col col-9>
				<div algin="right">{{shippingFee | currency:'CNY':'symbol-narrow'}}</div>
			</ion-col>
		</ion-row>
		<ion-row class="shipping-fee-explain">
			<ion-col col-3>
				<div align="center">运费说明：</div>
			</ion-col>
			<ion-col col-9>
				<div>{{settings[0]?.description}}</div>
			</ion-col>
		</ion-row>

		<seperator height="0.8rem"></seperator>
		<!-- Distributor info -->
		<ion-row class="distributor">
			<ion-col col-3>
				<div align="center">
				配送经销商：
				</div>
			</ion-col>
			<ion-col col-9>
				<ion-row>
					<ion-col>
						{{distributors[0]?.name}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						{{distributorAddress[0]?.city}}{{distributorAddress[0]?.street}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						电话：{{distributorContacts[0]?.phone_area_code}}-{{distributorContacts[0]?.telephone}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						手机：+86-{{distributorContacts[0]?.mobile}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						联系人：{{distributorContacts[0]?.name}}
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

		<seperator height="0.8rem"></seperator>

		<!-- invoid info -->
		<ion-row class="invoice">
			<ion-col col-3>
				<div align="center" class="note">
				备注信息：
				</div>
			</ion-col>
			<ion-col col-9>
				<ion-row>
					<ion-col col-6>
						<ion-item no-lines>
							<ion-checkbox name="non_required" checked="true" [(ngModel)]="invoiceChkBox1" (ionChange)="invChkBoxSel_1($event)"></ion-checkbox>
							<ion-label>不需要发票</ion-label>
						</ion-item>
					</ion-col>
					<ion-col col-6>
						<ion-item no-lines>
							<ion-checkbox name="required" [(ngModel)]="invoiceChkBox2" (ionChange)="invChkBoxSel_2($event)">></ion-checkbox>
							<ion-label>需要发票</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-3>
						发票抬头
					</ion-col>
					<ion-col col-9>
						<ion-input type="text" [(ngModel)]="invoiceHead" [disabled]="invHeadDisabled" value="个人"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row style="margin-top: 1rem;">
					<ion-col col-3>
						企业税号
					</ion-col>
					<ion-col col-9>
						<ion-input type="text" [(ngModel)]="taxNumber" [disabled]="taxNumDisabled"></ion-input>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

		<seperator height="0.8rem"></seperator>

		<!-- coupon info -->
		<ion-row class="coupon">
			<ion-col col-3>
				<div align="center" class="note">
					可用优惠券：
				</div>
			</ion-col>
			<ion-col col-9>
				<ion-row>
					<ion-col col-2>
					</ion-col>
					<ion-col col-6>
						<div style="padding-left: 1rem;">卡券名称</div>
					</ion-col>
					<ion-col col-2>
						<div align="right">面额</div>
					</ion-col>
					<ion-col col-2>
						<div align="right">使用</div>
					</ion-col>
				</ion-row>

				<ion-row *ngFor="let coupon of couponWalletArray; let i = index;" class="coupon-detail">
					<ion-col col-2>
						<img src="{{baseUrl}}{{coupon?.image_url}}" class="coupon-image">
					</ion-col>

					<ion-col col-6>
						<div style="padding-left: 1rem;">
							<span style="color: #0463b8;">{{coupon.name}}</span>
						</div>
					</ion-col>

					<ion-col col-2>
						<div align="right" style="padding-right: 0.5rem;">
							<span style="color: orange" *ngIf="coupon?.discount_method==2">{{coupon.discount_value}}</span>
							<span style="color: orange" *ngIf="coupon?.discount_method==1">{{coupon.discount_percentage/100}}</span>
						</div>
					</ion-col>

					<ion-col col-2>
						<div align="right" style="padding-right: 0.5rem;">
							<ion-checkbox [(ngModel)]="couponWalletArray[i].has_used" checked=false (ionChange)="onCouponChange(i)"></ion-checkbox>
						</div>
					</ion-col>
				</ion-row>
			</ion-col>	
		</ion-row>

		<seperator height="0.8rem"></seperator>

		<!-- payment info -->	
		<ion-row class="payment">
			<ion-col col-3>
				<div  align="center" class="note">
					支付方式：
				</div>
			</ion-col>
			<ion-col col-9>
				<ion-row>
					<ion-col col-12>
						<div  class="filling-text">WHITE SPACE</div>
					</ion-col>
				</ion-row>
				<ion-row class="payment-method">
					<ion-col col-2>
						<ion-icon name="custom-wechat" color="secondary" class="myicon"></ion-icon>						
					</ion-col>
					<ion-col co-9>
						微信支付
					</ion-col>
					<ion-col col-1>
						<ion-checkbox [(ngModel)]="isWechat" (ionChange)="wechatChanged($event)"></ion-checkbox>
					</ion-col>
				</ion-row>
				<ion-row class="payment-method bottom">
					<ion-col col-2>
						<ion-icon name="custom-alibaba" color="primary" class="myicon"></ion-icon>
					</ion-col>
					<ion-col col-9>
						支付宝支付
					</ion-col>
				
					<ion-col col-1>
						<ion-checkbox [(ngModel)]="isAlipay" (ionChange)="alipayChanged($event)"></ion-checkbox>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row class="submit">
				<ion-col col-2>
					<div align="center">合计：</div>
				</ion-col>
				<ion-col col-2>
					<div align="left" style="color: #0463b8;">{{totalPrice | currency:'CNY':symbol-narrow}}</div>
				</ion-col>
				<ion-col col-2>
					<div align="center">重量：</div>
				</ion-col>
				<ion-col col-2>
					<div align="left">{{totalWeight}}{{weightUnit}}</div>
				</ion-col>
				<ion-col col-4>
					<button ion-button full color="secondary" style="font-size: 1.4rem;" (click)="submitOrder()" [disabled]="submitBtnDisabled">
						提交订单
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>

<style>
	* {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 1.3rem;
	}

	ion-icon {
		font-size: 2rem;
	}

	ion-row {
		flex-wrap: nowrap;
	}

	.shopper {
		font-size: 1.5rem;
		font-weight: bold;
	}


	.address  {
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.list {
		align-items: center;
	}

	.list * {
		align-items: center;
	}

	.list img {
		align-items: center;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		padding: 1rem;
		margin-left: 0.6rem;
	}

	.list button {
		font-size: 1.5rem;
	}

	.distributor {
		margin: 1rem;

	}

	.invoice .note {
		padding-top: 1rem;
	}

	.invoice {
		margin-bottom: 1rem;
		padding-right: 1rem;
	}

	.invoice ion-input {
		border-bottom: 1px solid #efefef;
		margin-right: 1rem;
	}

	.coupon {
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-right: 1rem;
	}

	.coupon-image {
		padding-top: 0.5rem;
	}

	.coupon-detail {
		margin-top: 0.5rem;
		align-items: center;
		border-bottom: 1px solid #efefef;
	}

	.coupon .note {
		margin-left: 0.5rem;
	}

	.payment {
		margin-top: 1rem;
		margin-right: 1rem;
	}

	.payment .myicon {
		margin-top: 0.5rem;
	}
	.payment .filling-text {
		color: white;
	}

	.submit {
		align-items: center;
	}

	.submit * {
		margin: 0;
		padding: 0;
		border: none;
	}

 	 ion-toolbar {
  		min-height: 3.6rem;
  		margin: 0;
  		padding: 0;
  	}

  	.payment-method {
	  	margin-top: 0.5rem;
	  	border-bottom: 1px solid #efefef;
	  	align-items: center;
  }

  .shipping-fee  {
  	margin-top: 1rem; 	
  }

  .shipping-fee-explain {
  	margin-bottom: 1rem;
  }

  .bottom {
  	margin-bottom: 4rem;
  }

</style>