@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?dozu6c');
  src:  url('../assets/fonts/icomoon.eot?dozu6c#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?dozu6c') format('truetype'),
    url('../assets/fonts/icomoon.woff?dozu6c') format('woff'),
    url('../assets/fonts/icomoon.svg?dozu6c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inventory:before {
  content: "\e900";
}
.icon-Logo1:before {
  content: "\e901";
}


@mixin makeIcon($arg, $val, $color) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
//    font-size: 26px;
    font-size:  2rem;
//    color: $color;
  }
}

@include makeIcon(inventory, '\e900', #7c7c7c);
@include makeIcon(Logo1, '\e901', rgb(19, 95, 173));


