// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-icon {
	&[class*="custom-"] {
		mask-size: contain;
		mask-position: 50% 50%;
		mask-repeat: no-repeat;
		background: currentColor;
		width: 1em;
		height: 1em;
	}
	&[class*="alibaba"] {
		mask-image: url(../assets/fonts/alipay.svg);
	}
	&[class*="wechat"] {
		mask-image: url(../assets/fonts/wechat.svg);
	}	
	&[class*="goback"] {
		mask-image: url(../assets/fonts/goback.svg);
	}
	&[class*="inventory"] {
		mask-image: url(../assets/fonts/inventory.svg);
	}
	&[class*="thumb-up"] {
		mask-image: url(../assets/fonts/thumbup.svg);
	}
	&[class*="goforward"] {
		mask-image: url(../assets/fonts/goforward.svg);
	}
	&[class*="arrow-up"] {
		mask-image: url(../assets/fonts/arrowup.svg);
	}
	&[class*="exit"] {
		mask-image: url(../assets/fonts/exit.svg);
	}
	&[class*="pay"] {
		mask-image: url(../assets/fonts/toPay.svg);
	}
	&[class*="deliver"] {
		mask-image: url(../assets/fonts/toDeliver.svg);
	}
	&[class*="receive"] {
		mask-image: url(../assets/fonts/toReceive.svg);
	}
	&[class*="comment"] {
		mask-image: url(../assets/fonts/toComment.svg);
	}
	&[class*="star"] {
		mask-image: url(../assets/fonts/star.svg);
	}
	&[class*="star-empty"] {
		mask-image: url(../assets/fonts/star-empty.svg);
	}
	&[class*="position"] {
		mask-image: url(../assets/fonts/position.svg);
	}
	&[class*="distributor"] {
		mask-image: url(../assets/fonts/distributor.svg);
	}
	&[class*="logout"] {
		mask-image: url(../assets/fonts/logout.svg);
	}
}

ion-loading.transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }

  ion-backdrop {
  	background-color: rgba(255,255,255,0);
  }

  ion-spinner {
  	transform: scale(1.3);
  }

//  ion-spinner svg * {
//  	stroke: black !important;
//  }
}

