<ion-header>
	<ion-navbar>
		<ion-grid>
			<ion-row style="align-items: center">
				<ion-col col-4 style="font-size: 1.7rem;">
					<button ion-button ion-only ion-start  outline style="border: none" (click)="exit()">
					<ion-icon name="custom-exit"></ion-icon>
						退出
					</button>
				</ion-col>
				<ion-col col-8>
					<div style="font-size: 1.9rem; font-weight: bold">经销商信息</div>		
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>

   <ion-segment [(ngModel)]="myInfo">
   		<ion-segment-button value="1" full>
   			公司名称
   		</ion-segment-button>
    	<ion-segment-button value="2" full>
    		通讯地址
    	</ion-segment-button>
    	<ion-segment-button value="3" full>
    		联系人
    	</ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>
	<div [ngSwitch]="myInfo" (ionChange)="segmentChanged()">
		<div *ngSwitchCase="1">
			<ion-card>
				<ion-card-header>
					{{distributor?.name}}
				</ion-card-header>
				<ion-card-content>
					{{distributor?.description}}
				</ion-card-content>
			</ion-card>
		</div>

		<div *ngSwitchCase="2">
			<ion-list radio-group>
				<ion-item *ngFor="let address of distributor?.addresses">
					<ion-grid>
						<ion-row>
							<ion-col col-11>
								<h4>{{address?.city}}</h4>
								<p>{{address?.street}}</p>
							</ion-col>
							<ion-col col-1>
								<ion-icon name="checkmark" *ngIf="address?.default_address"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</div>

		<div *ngSwitchCase="3">
			<ion-list radio-group>
				<ion-item *ngFor="let contact of distributor?.contacts">
					<ion-grid>
						<ion-row>
							<ion-col col-11>
								<h4>{{contact?.name}}</h4>
								<ion-row>
									<ion-col col-6>
										<div align="left"><p>{{contact?.mobile}}</p></div>
									</ion-col>
									<ion-col col-6>
										<p>{{contact?.phone_area_code}}-{{contact?.telephone}}</p>
									</ion-col>
								</ion-row>
							</ion-col>
							<ion-col col-1>
								<ion-icon name="checkmark" *ngIf="contact?.default_contact"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>

<style>
	ion-row {
		align-items: center;
	}
</style>