
<ion-header>

  <ion-navbar>
    <ion-title>关于稳卓</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-card>

		<ion-slides *ngIf="images && images.length > 0" autoplay="2000" pager>
			<ion-slide *ngFor="let image of images">
				<img src="{{base_url}}{{image.image_url}}">
			</ion-slide>
		</ion-slides>

		<ion-card-content #content>		

		</ion-card-content>
	</ion-card>

</ion-content>

<style>
	p {
		text-indent: 3rem;
		margin-bottom: 1.2rem;
		text-align: justify-all;
	}
</style>