<ion-header>
	<ion-navbar>
		<ion-grid>
			<ion-row style="align-items: center">
				<ion-col col-3 style="font-size: 1.7rem;">
					<button ion-button ion-only ion-start  outline style="border: none" (click)="exit()">
					<ion-icon name="custom-exit"></ion-icon>
						退出
					</button>
				</ion-col>
				<ion-col col-6>
					<div style="font-size: 1.9rem; font-weight: bold">经销商订单管理</div>		
				</ion-col>
				<ion-col col-3 style="font-size: 1.7rem;">
					<button ion-button ion-only ion-start  outline style="border: none" (click)="logout()">
						退出登录
					<ion-icon name="custom-logout"></ion-icon>						
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
		
	<ion-segment [(ngModel)]="displayType">
		<ion-segment-button value="1" full>全部</ion-segment-button>
		<ion-segment-button value="2" full>待发货</ion-segment-button>
		<ion-segment-button value="3" full>待确认</ion-segment-button>
		<ion-segment-button value="4" full>已确认</ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-grid>
		<div [ngSwitch]="displayType" (ionChange)="segmentChanged()">
<!--FOR CASE 1 All Orders--------------------------------------------------------------------------------------------->
			<div *ngSwitchCase="1">
				<div  *ngFor="let order of orders; let i = index;">			
					<ion-row class="date">
						<ion-col col-9>
							{{order.order_date}}
						</ion-col>
						<ion-col col-3>
							<div *ngIf="order.delivery_status == 1" align="right" style="color: orange">待发货</div>
							<div *ngIf="order.delivery_status == 2" align="right" style="coolor: yellow">发货中</div>
							<div *ngIf="order.delivery_status == 3" align="right" style="color: blue">已发货</div>
							<div *ngIf="order.delivery_status == 4" align="right" style="color: green">已确认</div>
						</ion-col>
					</ion-row>

					<ion-row class="list">
						<ion-col col-10>	
							<ion-row>
								<ion-col col-3 *ngFor="let product of order.products; let j = index" >	
									<img src="{{apiUrl}}{{product?.thumbnail_url}}" *ngIf="j < 4">
								</ion-col>
							</ion-row>
						</ion-col>

						<ion-col col-2>
							<div align="center">
								<button ion-button icon-only full outline (click)="toProductList(1, i)">
									<ion-icon name="custom-goforward"></ion-icon>
								</button>
							</div>
						</ion-col>				
					</ion-row>

					<ion-row class="order-serial">
						<ion-col col-3>
							订单号：
						</ion-col>
						<ion-col col-9>
							<div align="right"> {{order.order_serial}}</div>
						</ion-col>
					</ion-row>

					<div class="address" *ngIf="!shippingAddressHide[i]">
						<ion-row>
							<ion-col col-3>
								联系人：
							</ion-col>
							<ion-col col-4>
								{{order.shipping_address.username}}
							</ion-col>
							<ion-col col-2>
								手机：
							</ion-col>
							<ion-col col-3>
								{{order.shipping_address.mobile}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								固定电话：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.tel}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								送货地址：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.city}}{{order.shipping_address.street}}
							</ion-col>
						</ion-row>
					</div>

					<ion-row class="action" *ngIf="order.delivery_status != 4 && order.delivery_status != 3">
						<ion-col col-12>
							<div align="right">

							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
							送货地址
							</button>

								<button ion-button outline  small *ngIf="order.delivery_status == 1" class="btn" (click)="doPromptDelivery(order, i)" [disabled]="deliveryBtnDisabled[i]">立即送货</button>
								<button ion-button outline  small *ngIf="order.delivery_status == 3" class="btn" (click)="doPromptConfirm(order, i)" [disabled]="confirmBtnDisabled[i]">立即确认</button>
							</div>
						</ion-col>		
					</ion-row>

					<ion-row class="action" *ngIf="order.delivery_status == 3">
						<ion-col col-1>
							<div>发货</div>
						</ion-col>
						<ion-col col-5>
							<div>{{order.delivery_date}}</div>
						</ion-col>
						<ion-col col-7>
							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
								送货地址
							</button>
								<button ion-button outline  small  class="btn" (click)="doPromptConfirm(order, i)" [disabled]="confirmBtnDisabled[i]">立即确认</button>
						</ion-col>		
					</ion-row>

					<ion-row class="action" *ngIf="order.delivery_status ==4">
						<ion-col col-1>
							<div>确认</div>
						</ion-col>
						<ion-col col-5>
							<div *ngIf="order.delivery_status == 3">{{order.delivery_date}}</div>
							<div *ngIf="order.delivery_status == 4">{{order.delivery_confirm_date}}</div>
						</ion-col>						
						<ion-col col-3>
							<div align="right">

							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
							送货地址
							</button>
							</div>
						</ion-col>
						<ion-col col-3>
							<div   align="right" *ngIf="order.delivery_status == 4">
								<ion-icon name="custom-thumb-up"></ion-icon>
								<ion-icon name="custom-thumb-up"></ion-icon>
								<ion-icon name="custom-thumb-up"></ion-icon>
							</div>	
						</ion-col>		
					</ion-row>					
				</div>

				<div *ngIf="orders.length <= 0 && isInit">
					<div align="center" style="font-size: 2rem;margin-top:5rem;">您没有待处理订单</div>
				</div>

			</div>	
<!--FOR CASE 2 To be delivered --------------------------------------------------------------------------------------------->
			<div *ngSwitchCase="2">
				<div  *ngFor="let order of ordersToBeDelivered; let i = index;">			
					<ion-row class="date">
						<ion-col col-9>
							{{order.order_date}}
						</ion-col>
						<ion-col col-3>
							<div *ngIf="order.delivery_status == 1" align="right" style="color: orange">待发货</div>
							<div *ngIf="order.delivery_status == 2" align="right" style="color: yellow">发货中</div>
							<div *ngIf="order.delivery_status == 3" align="right" style="color: blue">已发货</div>
							<div *ngIf="order.delivery_status == 4" align="right" style="color: green">已确认</div>
						</ion-col>
					</ion-row>

					<ion-row class="list">
						<ion-col col-10>	
							<ion-row>
								<ion-col col-3 *ngFor="let product of order.products; let j = index" >	
									<img src="{{apiUrl}}{{product?.thumbnail_url}}" *ngIf="j < 4">
								</ion-col>
							</ion-row>
						</ion-col>

						<ion-col col-2>
							<div align="center">
								<button ion-button icon-only full outline (click)="toProductList(2, i)">
									<ion-icon name="custom-goforward"></ion-icon>
								</button>
							</div>
						</ion-col>				
					</ion-row>

					<ion-row class="order-serial">
						<ion-col col-3>
							订单号：
						</ion-col>
						<ion-col col-9>
							<div align="right"> {{order.order_serial}}</div>
						</ion-col>
					</ion-row>

					<div class="address" *ngIf="!shippingAddressHide[i]">
						<ion-row>
							<ion-col col-3>
								联系人：
							</ion-col>
							<ion-col col-4>
								{{order.shipping_address.username}}
							</ion-col>
							<ion-col col-2>
								手机：
							</ion-col>
							<ion-col col-3>
								{{order.shipping_address.mobile}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								固定电话：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.tel}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								送货地址：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.city}}{{order.shipping_address.street}}
							</ion-col>
						</ion-row>
					</div>

					<ion-row class="action">

						<ion-col col-12>
							<div align="right">

							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
							送货地址
							</button>

								<button ion-button outline  small *ngIf="order.delivery_status == 1" class="btn" (click)="doPromptDelivery(order, i)" [disabled]="deliveryBtnDisabled[i]">立即送货</button>
								<button ion-button outline  small *ngIf="order.delivery_status == 3" class="btn" (click)="doPromptConfirm(order, i)" [disabled]="confirmBtnDisabled[i]">立即确认</button>
							</div>
						</ion-col>		
					</ion-row>
				</div>
			</div>	
<!--FOR CASE 3 Waiting for confirm--------------------------------------------------------------------------------------------->
			<div *ngSwitchCase="3">
				<div  *ngFor="let order of ordersWaitForConfirm; let i = index;">			
					<ion-row class="date">
						<ion-col col-9>
							{{order.order_date}}
						</ion-col>
						<ion-col col-3>
							<div *ngIf="order.delivery_status == 1" align="right" style="color: orange">待发货</div>
							<div *ngIf="order.delivery_status == 2" align="right" style="color: yellow">发货中</div>
							<div *ngIf="order.delivery_status == 3" align="right" style="color: blue">已发货</div>
							<div *ngIf="order.delivery_status == 4" align="right" style="color: green">已确认</div>
						</ion-col>
					</ion-row>

					<ion-row class="list">
						<ion-col col-10>	
							<ion-row>
								<ion-col col-3 *ngFor="let product of order.products; let j = index" >	
									<img src="{{apiUrl}}{{product?.thumbnail_url}}" *ngIf="j < 4">
								</ion-col>
							</ion-row>
						</ion-col>

						<ion-col col-2>
							<div align="center">
								<button ion-button icon-only full outline (click)="toProductList(3, i)">
									<ion-icon name="custom-goforward"></ion-icon>
								</button>
							</div>
						</ion-col>				
					</ion-row>

					<ion-row class="order-serial">
						<ion-col col-3>
							订单号：
						</ion-col>
						<ion-col col-9>
							<div align="right"> {{order.order_serial}}</div>
						</ion-col>
					</ion-row>

					<div class="address" *ngIf="!shippingAddressHide[i]">
						<ion-row>
							<ion-col col-3>
								联系人：
							</ion-col>
							<ion-col col-4>
								{{order.shipping_address.username}}
							</ion-col>
							<ion-col col-2>
								手机：
							</ion-col>
							<ion-col col-3>
								{{order.shipping_address.mobile}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								固定电话：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.tel}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								送货地址：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.city}}{{order.shipping_address.street}}
							</ion-col>
						</ion-row>
					</div>

					<ion-row class="action">
						<ion-col col-1>
							<div>送货</div>
						</ion-col>
						<ion-col col-5>
							<div>{{order.delivery_date}}</div>
						</ion-col>
						<ion-col col-7>
							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
								送货地址
							</button>
								<button ion-button outline  small  class="btn" (click)="doPromptConfirm(order, i)" [disabled]="confirmBtnDisabled[i]">立即确认</button>
						</ion-col>		
					</ion-row>
				</div>
			</div>	
<!--FOR CASE 4 Orders confirmed--------------------------------------------------------------------------------------------->
			<div *ngSwitchCase="4">
				<div  *ngFor="let order of ordersConfirmed; let i = index;">			
					<ion-row class="date">
						<ion-col col-9>
							{{order.order_date}}
						</ion-col>
						<ion-col col-3>
							<div *ngIf="order.delivery_status == 1" align="right" style="color: orange">待发货</div>
							<div *ngIf="order.delivery_status == 2" align="right" style="color: yellow">发货中</div>
							<div *ngIf="order.delivery_status == 3" align="right" style="color: blue">已发货</div>
							<div *ngIf="order.delivery_status == 4" align="right" style="color: green">已确认</div>
						</ion-col>
					</ion-row>

					<ion-row class="list">
						<ion-col col-10>	
							<ion-row>
								<ion-col col-3 *ngFor="let product of order.products; let j = index" >	
									<img src="{{apiUrl}}{{product?.thumbnail_url}}" *ngIf="j < 4">
								</ion-col>
							</ion-row>
						</ion-col>

						<ion-col col-2>
							<div align="center">
								<button ion-button icon-only full outline (click)="toProductList(4, i)">
									<ion-icon name="custom-goforward"></ion-icon>
								</button>
							</div>
						</ion-col>				
					</ion-row>

					<ion-row class="order-serial">
						<ion-col col-3>
							订单号：
						</ion-col>
						<ion-col col-9>
							<div align="right"> {{order.order_serial}}</div>
						</ion-col>
					</ion-row>

					<div class="address" *ngIf="!shippingAddressHide[i]">
						<ion-row>
							<ion-col col-3>
								联系人：
							</ion-col>
							<ion-col col-4>
								{{order.shipping_address.username}}
							</ion-col>
							<ion-col col-2>
								手机：
							</ion-col>
							<ion-col col-3>
								{{order.shipping_address.mobile}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								固定电话：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.tel}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col col-3>
								送货地址：
							</ion-col>
							<ion-col col-9>
								{{order.shipping_address.city}}{{order.shipping_address.street}}
							</ion-col>
						</ion-row>
					</div>

					<ion-row class="action">
						<ion-col col-1>
							<div>确认</div>
						</ion-col>
						<ion-col col-5>
							<div *ngIf="order.delivery_status == 3">{{order.delivery_date}}</div>
							<div *ngIf="order.delivery_status == 4">{{order.delivery_confirm_date}}</div>
						</ion-col>						
						<ion-col col-3>
							<div align="right">

							<button ion-button ion-icon ion-start outline small class="btn" (click)="toggleAddress(i)">
								<ion-icon name="arrow-round-down" *ngIf="shippingAddressHide[i]"></ion-icon>
								<ion-icon name="arrow-round-up" *ngIf="!shippingAddressHide[i]"></ion-icon>
							送货地址
							</button>
							</div>
						</ion-col>
						<ion-col col-3>
							<div   align="right" *ngIf="order.delivery_status == 4">
								<ion-icon name="custom-thumb-up"></ion-icon>
								<ion-icon name="custom-thumb-up"></ion-icon>
								<ion-icon name="custom-thumb-up"></ion-icon>
							</div>	
						</ion-col>		
					</ion-row>
				</div>
			</div>	

		</div>



	</ion-grid>

</ion-content>


<style>
	*:not(ion-segment) {
		font-size: 1.3rem;
	}

	ion-content *:not(.btn) {
		margin: 0;
		padding: 0;
		border: none;
		font-size: 1.3rem;
	}

	ion-grid .date, ion-grid .list, ion-grid .order-serial {
		border-bottom: 1px solid #efefef;
		align-items: center;

	}

	ion-grid .date, ion-grid .order-serial {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;		
	}

	.list * {
		align-items: center;
	}

	.list img {
		align-items: center;
		margin-top: 0.6rem;
		margin-bottom: 0.4rem;
		width: 6rem;
		padding-left: 1rem;
		margin-left: 0.6rem;
	}

	.list button {
		font-size: 1.5rem;
	}

	ion-grid .action {
		border-bottom: 1.2rem solid #efefef;
		align-items: center;
		flex-wrap: nowrap;
		padding-left: 1rem;
	}

	ion-grid .address {
		border-bottom: 1px solid #efefef;
		padding-left: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	ion-grid .address ion-row {
		margin-bottom: 0.5rem;
	}

</style>