
<ion-header>
  <ion-navbar>
  	<ion-grid>
  		<ion-row>
  			<ion-col col-2>
  				<button ion-button icon-only outline small (click)="goback()">
  					<ion-icon name="custom-goback"></ion-icon>返回
  				</button>
  			</ion-col>
  			<ion-col col-7>
    			<div style="font-size: 1.9rem;" align="center">我的订单</div>
    		</ion-col>
    		<ion-col col-3>
    			<button ion-button outline small (click)="toMyOrderToConfirm()">历史订单</button>
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item-sliding *ngFor="let order of orders; let i = index;">
			<button ion-item   (click)="toProductList(i)" >
				<ion-avatar item-start>
					<img src="{{baseUrl}}{{order.products[0]?.thumbnail_url}}">
				</ion-avatar>
				<h4>订单号：{{order?.order_serial}}</h4>
				<p>下单日期：{{order?.order_date}}</p>
				<p>订单总价：{{order?.total_price}}</p>
			</button>
			<ion-item *ngIf="selectedItem == i" (click)="hide(i)">
				<p>名称：{{distributor?.name}}</p>
				<p>地址：{{distributorAddress?.city}}{{distributorAddress?.street}}</p>
				<p>电话：{{distributorContact?.phone_area_code}}-{{distributorContact?.telephone}}</p>
				<p>手机：{{distributorContact?.mobile}}</p>
				<p>姓名：{{distributorContact?.name}}</p>
			</ion-item>

			<ion-item-options side="right">
				<button ion-button color="primary" (click)="getDistributorInfo(i)">
					<ion-icon name="person"></ion-icon>
					发货人信息					
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>

<style>
	ion-header ion-row {
		flex-wrap: nowrap;
		align-items: center;
	}

	ion-header button {
		border: none;
	}

</style>